{% extends 'base.html.twig' %}

{% block title %}Hello Commande !{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
       <div class="field" style="margin-top: 0">
         <select id="anne" >
         
         <option value=""> </option>
          {% for sAnne in 2000.."now"|date('Y') %}
              <option value="{{sAnne}}" >
              {{sAnne}}
              
               </option>
          {% endfor %}
         </select>
       </div>

  </div>
   <div class="row">
       <div class="field" style="margin-top: 0">
         <select id="moi" >
         
         <option value=""> </option>
          {% for sMoi in 1..12 %}
              <option value="{{sMoi}}" >
              {{ sMoi }}
              
               </option>
          {% endfor %}
         </select>
       </div>

  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th colspan="1">date</th>
          <th colspan="4">houres</th>
          <th colspan="1">all</th>
          
         </tr>

      <thead>
      <tbody>
         <tr>
          <td>dat</td>
          <td>1 heour</td>
          <td>2 heour</td>
          <td>3 heour</td>
          <td>4 heour</td>
   
          <td>All</td>
         </tr>
         <tr id="tr1">
             <td>dqte</td>
             <td> <input type="checkbox" > </td>
             <td> <input type="checkbox" > </td>
             <td> <input type="checkbox" > </td>
             <td> <input type="checkbox" > </td>
         </tr>
         <tr>
             <td>dqte</td>
             <td> <input type="checkbox" > </td>
             <td> <input type="checkbox" > </td>
             <td> <input type="checkbox" > </td>
             <td> <input type="checkbox" > </td>
         </tr>
         <tr>
             <td>dqte</td>
             <td> <input type="checkbox" > </td>
             <td> <input type="checkbox" > </td>
             <td> <input type="checkbox" > </td>
             <td> <input type="checkbox" > </td>
         </tr>
      </tbody>
    </table>
  </div>
</div>

	{% block javascript %}
{# <script src="https://unpkg.com/axios/dist/axios.min.js"></script> #}
<script>

   
     
 let select=document.getElementById('anne');

  function handelAnne(event){
     
       let anneValue=document.getElementById('anne').value;
       let route = "{{ path('commande_index', {anne:'anneValue'})|escape('js') }}";
          route=route.replace("anneValue",anneValue)
      location.href=route;
    
      
 }
 select.addEventListener('change',handelAnne);

</script>
{# <script>
  let like=document.querySelectorAll('a.js-like');
  function handelEvent(event){
       event.preventDefault();
       const url=this.href;
       const spanCount=this.querySelector('span.js-like');
       const icon=this.querySelector('i');
       axios.get(url).then((res)=>{
         spanCount.textContent=res.data.likes;
         if(icon.classList.contains('fas')){
           icon.classList.replace('fas','far')
         }
         else{
           icon.classList.replace('far','fas')
         }
       }).catch(err=>{
         
       })
  }


  like.forEach(e=>{
    e.addEventListener('click',handelEvent)
  })
 
</script> #}
	
{% endblock %}
  <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
<script>

   var check = $('#tr1').find('input[type=checkbox]:checked').length;

   var n = $("input:checked").length;
     console.log(n)
   </script>
{% endblock %}

